[*.cs]

# IDE0008: Use var instead of explicit type
# dotnet_diagnostic.IDE0008.severity = error

# IDE0042: Deconstruct variable declaration
dotnet_diagnostic.IDE0042.severity = none

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none
